<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body about_body>
    <div class="about_title"><h3>About SEQr</h3></div>
    <div class="about_container">        
        <p>
            SEQr is a steganography web application that enables you to hide secret messages in image and audio files
        </p>

        <p>
            It supports retrieval of messages from image and audio files that contain a secret message
        </p>

        <h3 class="hs">Supported Formats</h3>
        <p>
            <ul>
                <li><h5 class="hs">Image:-</h5>
                    <li>.jpg</li>
                    <li>.png</li>
                </li>
                <li><h5 class="hs">Audio:-</h5>
                    <li>.mp3</li>
                    <li>.wav</li>
                </li>
            </ul>
        </p>
        <p>
            <h3 class="hs">Outputs</h3>
            <ul>
                <li>.png images</li>
                <li>.wav and .mp3 audio files</li>
            </ul>
        </p>

    </div>
</body>
</html>